Repository protegrity/arrow, pull requests merged in 2025-10, with the labels that each got.

#167 Ciphertext length solution
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer_test.cc
  cpp/src/parquet/encryption/aes_encryption.h
  cpp/src/parquet/encryption/aes_encryption_test.cc
  cpp/src/parquet/encryption/encryptor_interface.h
  cpp/src/parquet/encryption/external_dbpa_encryption.cc
  cpp/src/parquet/encryption/external_dbpa_encryption.h
  cpp/src/parquet/encryption/external_dbpa_encryption_test.cc
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/thrift_internal.h
Labels: Component: C++, Component: Parquet, awaiting review

#169 Creating external_dbpa_encryption_integ_test.cc for testing combination of encoding parameters.
  cpp/src/parquet/encryption/CMakeLists.txt
  cpp/src/parquet/encryption/external_dbpa_encryption_it.cc
Labels: Component: C++, Component: Parquet, awaiting committer review

#171 Fixing issues in read_configuration_test
  cpp/src/parquet/encryption/read_configurations_test.cc
Labels: Component: C++, Component: Parquet, awaiting committer review

#172 Adding plaintext solution to decrypt path
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/encryption/aes_encryption.h
  cpp/src/parquet/encryption/aes_encryption_test.cc
  cpp/src/parquet/encryption/decryptor_interface.h
  cpp/src/parquet/encryption/external_dbpa_encryption.cc
  cpp/src/parquet/encryption/external_dbpa_encryption.h
  cpp/src/parquet/encryption/external_dbpa_encryption_test.cc
  cpp/src/parquet/encryption/internal_file_decryptor.cc
  cpp/src/parquet/encryption/internal_file_decryptor.h
  cpp/src/parquet/file_deserialize_test.cc
  cpp/src/parquet/thrift_internal.h
Labels: Component: C++, Component: Parquet, awaiting committer review

#174 Extracting timeout values from the connection config file
  cpp/src/parquet/encryption/external_dbpa_encryption.cc
  cpp/src/parquet/encryption/external_dbpa_encryption_test.cc
  python/scripts/base_app.py
  python/scripts/test_connection_config_file.json
Labels: Component: C++, Component: Parquet, awaiting committer review, Component: Python
