Repository protegrity/arrow, pull requests merged in 2025-08, with the labels that each got.

#30 Complete enum work in miniapp -> NOT production code
  cpp/src/generated/parquet_types.cpp
  cpp/src/generated/parquet_types.h
  cpp/src/generated/parquet_types.tcc
  cpp/src/parquet/encryption/crypto_factory.cc
  cpp/src/parquet/encryption/encryption.cc
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/internal_file_decryptor.cc
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/parquet.thrift
  cpp/src/parquet/thrift_internal.h
Labels: Component: C++, Component: Parquet, awaiting review

#35 Add external enum
  cpp/src/generated/parquet_types.cpp
  cpp/src/generated/parquet_types.h
  cpp/src/generated/parquet_types.tcc
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/write_configurations_test.cc
  cpp/src/parquet/parquet.thrift
  cpp/src/parquet/thrift_internal.h
  cpp/src/parquet/types.h
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet_encryption.pxd
  python/pyarrow/_parquet_encryption.pyx
  python/pyarrow/includes/libparquet_encryption.pxd
Labels: Component: C++, Component: Parquet, awaiting committer review, Component: Python

#38 Adding basic structure for both ExternalDecryptionConfig and External…
  cpp/src/parquet/encryption/crypto_factory.h
  cpp/src/parquet/encryption/encryption.cc
  cpp/src/parquet/encryption/encryption.h
  cpp/src/parquet/encryption/properties_test.cc
Labels: Component: C++, Component: Parquet, awaiting committer review

#39 Creating the GetExternalFileEncryptionProperties us part of task #26
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/_parquet_encryption.pxd
  python/pyarrow/_parquet_encryption.pyx
  python/pyarrow/includes/libparquet_encryption.pxd
  python/pyarrow/tests/parquet/test_external_encryption.py
Labels: awaiting committer review, Component: Python

#53 Decrypt crypto factory
  cpp/src/parquet/encryption/crypto_factory.cc
  cpp/src/parquet/encryption/crypto_factory.h
  cpp/src/parquet/encryption/crypto_factory_test.cc
  cpp/src/parquet/encryption/encryption.cc
  cpp/src/parquet/encryption/encryption.h
  cpp/src/parquet/encryption/properties_test.cc
  cpp/src/parquet/types.cc
  cpp/src/parquet/types.h
  cpp/src/parquet/types_test.cc
Labels: Component: C++, Component: Parquet, awaiting committer review

#41 External decryption config bindings
  python/pyarrow/_parquet_encryption.pxd
  python/pyarrow/_parquet_encryption.pyx
  python/pyarrow/includes/libparquet_encryption.pxd
  python/pyarrow/parquet/encryption.py
  python/pyarrow/tests/parquet/test_external_encryption.py
Labels: awaiting committer review, Component: Python

#59 Adding the new encryptor and decryptor interfaces
  cpp/src/parquet/encryption/decryptor_interface.h
  cpp/src/parquet/encryption/encryptor_interface.h
Labels: Component: C++, Component: Parquet, awaiting committer review

#56 Change connection_config from a string:string map to a map from Parqu…
  cpp/src/parquet/encryption/crypto_factory.h
  cpp/src/parquet/encryption/encryption.cc
  cpp/src/parquet/encryption/encryption.h
  cpp/src/parquet/encryption/properties_test.cc
  python/pyarrow/_parquet_encryption.pyx
  python/pyarrow/includes/libparquet_encryption.pxd
  python/pyarrow/tests/parquet/test_external_encryption.py
Labels: Component: C++, Component: Parquet, awaiting committer review, Component: Python

#61 Exposing column information at encryptor and decryptor creation time
  cpp/src/parquet/encryption/internal_file_decryptor.cc
  cpp/src/parquet/encryption/internal_file_decryptor.h
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/file_writer.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
Labels: Component: C++, Component: Parquet, awaiting committer review

#66 Fixing problems in ExternalEncryptionConfig bindings
  cpp/src/parquet/encryption/crypto_factory.cc
  cpp/src/parquet/encryption/crypto_factory_test.cc
  python/pyarrow/_parquet_encryption.pyx
  python/pyarrow/tests/parquet/test_external_encryption.py
  python/scripts/base_app.py
Labels: Component: C++, Component: Parquet, awaiting committer review, Component: Python

#65 Adding latest DBPAInterface to dev-miniapp
  cpp/src/parquet/encryption/external/dbpa_interface.h
  cpp/src/parquet/encryption/external/dbpa_library_wrapper.cc
  cpp/src/parquet/encryption/external/dbpa_library_wrapper.h
  cpp/src/parquet/encryption/external/dbpa_library_wrapper_test.cc
  cpp/src/parquet/encryption/external/dbpa_test_agent.cc
  cpp/src/parquet/encryption/external/dbpa_test_agent.h
  cpp/src/parquet/encryption/external/enums.h
  cpp/src/parquet/encryption/external/loadable_encryptor_utils.cc
  cpp/src/parquet/encryption/external/loadable_encryptor_utils.h
  cpp/src/parquet/encryption/external/loadable_encryptor_utils_test.cc
  cpp/src/parquet/encryption/external/span.hpp
Labels: Component: C++, Component: Parquet, awaiting committer review

#68 Wiring DBPAgent into ExternalEncryptorImpl/ExternalDecryptor impl
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/external/dbpa_utils.cc
  cpp/src/parquet/encryption/external/dbpa_utils.h
  cpp/src/parquet/encryption/external/loadable_encryptor_utils.cc
Labels: Component: C++, Component: Parquet, awaiting committer review

#72 Refactor aes encryptor
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/encryption/aes_encryption.cc
  cpp/src/parquet/encryption/aes_encryption.h
  cpp/src/parquet/encryption/aes_encryption_nossl.cc
  cpp/src/parquet/encryption/aes_encryption_test.cc
  cpp/src/parquet/encryption/internal_file_decryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
  cpp/src/parquet/encryption/key_toolkit_internal.cc
  cpp/src/parquet/metadata.cc
Labels: Component: C++, Component: Parquet, awaiting committer review

#76 First, simplest version of the External Encryptor and Decryptor
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/encryption/external_dbpa_encryption.cc
  cpp/src/parquet/encryption/external_dbpa_encryption.h
  cpp/src/parquet/encryption/external_dbpa_encryption_test.cc
Labels: Component: C++, Component: Parquet, awaiting committer review

#82 Renamimng External encrypt/decryptor classes
  cpp/src/parquet/encryption/external_dbpa_encryption.cc
  cpp/src/parquet/encryption/external_dbpa_encryption.h
  cpp/src/parquet/encryption/external_dbpa_encryption_test.cc
Labels: Component: C++, Component: Parquet, awaiting committer review

#84 Integrating the ExternalDBPAEncryptorAdapter into the Arrow InternalEncryptor
  cpp/src/parquet/encryption/aes_encryption.cc
  cpp/src/parquet/encryption/encryption.h
  cpp/src/parquet/encryption/external_dbpa_encryption.cc
  cpp/src/parquet/encryption/external_dbpa_encryption.h
  cpp/src/parquet/encryption/external_dbpa_encryption_test.cc
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
  cpp/src/parquet/encryption/write_configurations_test.cc
  python/pyarrow/tests/parquet/test_external_encryption.py
  python/scripts/base_app.py
Labels: Component: C++, Component: Parquet, awaiting committer review, Component: Python

#93 Fixing compiler warning/error around int precision loss
  cpp/src/parquet/encryption/internal_file_encryptor.cc
Labels: awaiting committer review

#103 Fixing lint issues at python unit test
  python/pyarrow/tests/parquet/test_external_encryption.py
Labels: awaiting review, Component: Python
